p {
    margin: 20px;
    color: #000;
    font-size: 1.8em;
    font-weight: bold;
    
}

.sheet {
    margin: 10px;
    padding: 8vh;
    min-height: auto;
}


.subject-area {
    margin-top: 50px;
}